$textSLA: #777777;
$redSLA: rgb(130, 36, 51);
$bluSLA: rgb(0, 103, 120);
$cardHoverSLA: rgb(130, 36, 51, 0.05);
$sansSerifSLA: "Roboto Condensed", sans-serif;
$SerifSLA: "Lora", serif;

.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: $sansSerifSLA;
  color: $textSLA;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  img {
    margin: auto;
    display: block;
  }
}

.methods {
  font-family: $sansSerifSLA;
  color: $textSLA;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  a {
    color: $redSLA;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    &:hover {
      color: $redSLA;
      font-weight: bolder;
      font-size: 1rem;
      background: none;
      border-color: trasparent;
    }
  }
  .card {
    border: none;
    padding-top: 1rem;
  }
  .card-body {
    text-align: right;
  }
  .card-text {
    padding-top: 1rem;
  }
  .card-title {
    font-family: $SerifSLA;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: right;
    color: $bluSLA;
  }
}

.places {
  a {
    color: $redSLA;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    &:hover {
      color: $redSLA;
      font-weight: bolder;
      font-size: 1rem;
      background: none;
      border-color: trasparent;
    }
  }
  .card {
    font-family: $sansSerifSLA;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
    &:hover {
      opacity: 0.8;
      background-color: $cardHoverSLA;
    }
  }
  .card-body {
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.4rem;
    display: swap;
    text-align: left;
    color: $textSLA;
  }
  .card-info {
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.5rem;
    display: swap;
    text-align: left;
  }
  .card-title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $bluSLA;
  }
}

.info {
  font-family: $sansSerifSLA;
  color: $textSLA;
  font-weight: 300;
  font-size: 1rem;
  a {
    padding: 0 !important;
    margin: 0 !important;
  }
  h5 {
    font-weight: bolder;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: rgb(0, 103, 120);
  }
  h6 {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    color: #777777;
  }
  h6 a {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    color: #777777;
    text-decoration: none;
  }
  h6 a:hover {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    color: #822433;
  }
  p {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
    color: #777777;
  }
}
.indice {
  margin-top: 13rem;
  margin-bottom: 10rem;
  font-family: $sansSerifSLA;
  .ul-indice {
    list-style: none;
  }
  .indice-1,
  .indice-2,
  .indice-3,
  .indice-4 { 
    font-weight: 100;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    color: #777777;
  }
  .indice-1:hover,
  .indice-2:hover,
  .indice-3:hover,
  .indice-4:hover {
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: #822433;
  }
  .indice-h2 {
    text-decoration: none;
    
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #777777;
  }
  .indice-h3 {
    text-decoration: none;
    font-style: italic;
   
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #777777;
    margin-left: 1rem;
  }
  .indice-h4 {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #777777;
    margin-left: 1.5rem;
  }
  li { 
    padding-bottom: 0.3rem;
  }
  .row {
    padding-bottom: 10px;
  }
  .pointer {
    cursor: pointer;
  }
  .text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #777777;
  }
  .text h2,
  .text h3,
  .text h4 {
    font-weight: 500;
    color: rgb(0, 103, 120);
  }
}
.gallery {
  a {
    text-decoration: none!important;
  }
.caption {
  font-family: $sansSerifSLA;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777777;
}
.caption:hover {
    font-family: $sansSerifSLA;
    font-weight: 300;
    font-size: 1rem;
    color: #822433;
}
}
